<<<<<<< HEAD




.sequencer_container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.drum_container{
    width: 200px;
}

.drum_line{
    margin-top: 10px;
}

.drum_line button{
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-style: none;
    border: 1px solid black;
}

button:hover{
    background-color: gray;
    cursor: pointer;
}

.on{
    background-color: blue;
}

.current{
    background-color: green !important;
}

/* canvas{
=======
canvas{
>>>>>>> d74fc1ce5022b83322dbe6082ee0002a2c8e948f
    border: 1px solid black;
}

.select:hover{
    cursor: pointer;
}

#First_player
{
    position: absolute;
    
    top:30%;
    left:25%;
}

#Second_player
{
    position: absolute;
    top:30%;
    left:35%;
}

#Third_player
{
    position:absolute;
    top:30%;
    left:45%
}

.controls
{
    position: absolute;
    top:60%;
    left:30%;
} */