
.seq_title{
    margin-top: 200px;
}

#sequencer_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

#sequencer_container > div{
    margin-bottom: 40px;
}

.synth_line{
    margin-top: 10px;
}

.drum_line{
    margin-top: 10px;
}

.drum_line button, .synth_line button{
    margin-left: 6px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid black;
    transition: all 0.1s linear;
}

.drum_line button{
    background-color: rgba(245, 245, 245, 0.363);   
}

.synth_line button{
    background-color: rgba(216, 191, 216, 0.363);
}

.drum_line button:hover{
    background-color: rgba(245, 245, 245, 1);
    cursor: pointer;
}

.synth_line button:hover{
    background-color: rgba(216, 191, 216, 1);
    cursor: pointer;
}


.on{
    background-color: rgb(40, 40, 109) !important;
}

.dl1 .on{
    background-color: rgb(0, 162, 255) !important;
}

.current{
    background-color: green !important;
}

.played{
    background-color: yellow !important;
}



.control_button{
    border-style: none;
    width:60px;
    height: 60px;
    color: black;
    padding: 3px 6px;
    margin: 0px 5px;
    font-size: 150%;
    text-align: center;
    border-radius: 10rem;
    
    box-shadow: 2px 2px 5px black;
}

.control_button:hover{
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
}

.control_button:active{
    background-color: grey;
    
    box-shadow: 2px 2px 10px black;
}

/* canvas{
canvas{
    border: 1px solid black;
}

.select:hover{
    cursor: pointer;
}

#First_player
{
    position: absolute;
    
    top:30%;
    left:25%;
}

#Second_player
{
    position: absolute;
    top:30%;
    left:35%;
}

#Third_player
{
    position:absolute;
    top:30%;
    left:45%
}

.controls
{
    position: absolute;
    top:60%;
    left:30%;
} */