
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');

*{
    font-family:Lato;
    font-weight: 400;
    text-decoration : none;
    color : rgba(223, 249, 251,1.0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    
}

html
{
    
    
}

body{
    background-image: url("https://images6.alphacoders.com/478/thumb-1920-478918.jpg");
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100%;
}

main{
    min-height: 100%;
}

.welcome{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    font-weight: 300;
    font-size: 5vw;
}

p{
    width: 100%;
    margin-top: 300px;
    padding: 10px 50px;
    height: 500px;
}

.P1{
    color: black;
    background-color: rgba(126, 214, 223,1.0);
}

h2{
    padding-top: 1%;
}

.photo{
    float: left;
    padding-left: 1%;
    padding-top: 2%;
}

.TextHome{
    padding-top: 2%;
    padding-left: 2%;
    text-align: center;
}